<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<head>
    <style>
        *{
            margin: 0 0;
            padding: 0 0;
        }
        .card-img-top{
            width: 286px;
            height: 180px;
        }

    </style>
</head>
<body>
<!-- Include header.html -->
<th:block th:include="/header"></th:block>

<h2 class="center" style="text-align: center;">Sharings</h2>


<div class="row">
    <div  class="card col-xl-4" th:id="${sharing.id}" th:each="sharing : ${sharings}">


        <table>

            <th scope="col-md-4">
                <img class="card-img-top" alt="" th:src="*{'data:sharing/jpeg;base64,'+{sharing.image}}">
            </th>




            <tr>
                <td th:text="${sharing.title}" style="color:red;font-family: 'Anton', sans-serif;width: 100%;"></td>
            </tr>





            <tr>
                <td th:text="${sharing.shortContent}" style="height: fit-content;"></td>
            </tr>

            <td>
                <a href="#" class="btn btn-primary" style="margin-bottom: 2rem;">Davam et</a>
            </td>
        </table>

    </div>


</div>


</body>
</html>