 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successfully registered</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">

    <style>
        span {
            color: blue;
        }
        body{
            background-color:#d7d7d7;
        }
    </style>
</head>

<body>

<!-- Include header.html -->
<div class="container" style="margin-top: 1rem;">
    <div class="alert alert-success" role="alert" style="font-family: 'Volkhov', serif;">
        You have successfully registered
    </div>

    <ul style="font-family: 'Poppins', sans-serif;">
        <li>User Name: <span th:utext="${newUser.userName}">..</span></li>
        <li>Email: <span th:utext="${newUser.email}">..</span></li>
    </ul>
</div>


</body>
</html>
